In [8]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import lightgbm as lgb

In [9]:
data = pd.read_csv("train.csv", encoding ='big5')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
data.head()

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [11]:
data.describe()

,CUS_ID,EDUCATION_CD,MARRIAGE_CD,L1YR_A_ISSUE_CNT,L1YR_B_ISSUE_CNT,CHANNEL_A_POL_CNT,CHANNEL_B_POL_CNT,OCCUPATION_CLASS_CD,APC_CNT,INSD_CNT,...,OUTPATIENT_SURGERY_AMT,INPATIENT_SURGERY_AMT,PAY_LIMIT_MED_MISC_AMT,FIRST_CANCER_AMT,ILL_ACCELERATION_AMT,ILL_ADDITIONAL_AMT,LONG_TERM_CARE_AMT,MONTHLY_CARE_AMT,LIFE_INSD_CNT,L1YR_GROSS_PRE_AMT
count,1.000000e+05,79438.000000,92049.000000,100000.000000,100000.000000,100000.000000,100000.000000,96040.000000,100000.000000,100000.000000,...,72460.000000,72460.000000,72460.000000,72460.000000,72460.000000,72460.000000,72460.000000,72460.000000,100000.000000,100000.000000
mean,1.267299e+06,2.169075,0.315289,0.118170,0.003330,1.627730,0.031080,1.304967,0.681070,0.283620,...,0.089922,0.058821,0.094473,0.014284,0.004284,0.002229,0.002394,0.018912,0.031473,0.000525
std,7.382534e+05,0.929452,0.489678,0.561755,0.062442,3.365798,0.262326,0.711769,0.614847,0.747238,...,0.101751,0.078278,0.166933,0.033439,0.014163,0.009714,0.020305,0.040821,0.034269,0.003117
min,1.200000e+01,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.275398e+05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015625,0.000000
50%,1.261358e+06,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.063492,0.030303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015625,0.000000
75%,1.903561e+06,3.000000,1.000000,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,0.000000,...,0.142857,0.103030,0.312500,0.018868,0.000000,0.000000,0.000000,0.025773,0.046875,0.000265
max,2.551470e+06,4.000000,2.000000,22.000000,4.000000,97.000000,17.000000,6.000000,4.000000,19.000000,...,0.952381,0.824242,1.000000,0.734591,0.666667,0.300000,0.809524,0.859107,0.921875,0.327815

In [16]:
data.drop(['CUS_ID','GENDER','CHARGE_CITY_CD','EDUCATION_CD',
              'MARRIAGE_CD','A_IND','B_IND','C_IND'],axis=1,inplace=True)